<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
  　    <%= f.label "グループ名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "地域" %><br>
    <%= f.number_field :area_id %>
  </div>
  <div class="field">
    <%= f.label "平均年齢" %><br>
    <%= f.number_field :average_age %>
  </div>
  <div class="field">
    <%= f.label "グループPR" %><br>
    <%= f.text_field :pr_text %>
  </div>
  <div class="field">
    <%= f.label "マーチングID" %><br>
    <%= f.number_field :match_log_id %>
  </div>
  <div class="field">
    <%= f.label "希望時間" %><br>
    <%= f.number_field :time_id %>
  </div>
  <div class="field">
    <%= f.label "評価" %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit "グループ作成" %>
  </div>
<% end %>
